body {
    background-color: darkgray;
    background-image: url("../Images/City_Background.jpeg");
    background-size: fill;
    align-content: center;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 5fr 1fr; 
    grid-template-rows: 1fr 4fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". . ."; 
}

@keyframes underlineNavAnimation {
    from {text-decoration-color: rgba(255, 255, 255, 0);}
    to {text-decoration-color: rgba(255, 255, 255, 1);}
}

nav {
    background-color: rgba(0, 0, 0,0.5);
    font-family: serif;
    border-radius: 5px;
}

.container {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    display:grid;
    grid-column: 2;
    grid-row: 2;
    align-content: center;
    justify-content: center;
    justify-self: center;
    background-color: rgba(77, 75, 75, 0.466);
    border-radius: 5px;
    grid-template-columns: 1fr 10fr 1fr; 
    grid-template-rows: 1fr 5fr; 
    width:90%;
}

#navigation{
    grid-column: 2;
    grid-row: 1;
    display:grid;
    font-family: sans-serif;
    color: white;
    align-self: center;
    align-content: center;
    justify-self: center;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 5px;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.5fr 3fr 1fr; 
    width:90%;
}

#navigation h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    padding-left:1%;
    grid-column: 2;
}

#linkContainer {
    grid-column: 3;
    align-content: center;
}

#navigation a {
    align-content: center;
    text-decoration-line: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-left: 2%;
}

#navigation a:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-line: underline;
    animation-name: underlineNavAnimation;
    animation-duration: 2000ms;
}

#bookingView {
    grid-column: 2;
    grid-row: 2;
}

#eventBrowserContainer {
    overflow-y: scroll;
    display:none;
    width: 95%;
    height: 90%;
    max-height: 500px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}

#userNotLoggedInView {
    visibility: collapse;
}

.dayBar {
    text-align: center;
    color:white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%
}

.dayEvents {
    align-items: center;
    justify-items: center;
    text-align: center;
}

#eventsOverview {
    text-align: center;
    grid-row:2;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    align-items: center;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
    padding-bottom: 10px;
}

hr {
    width: 90%;
    height: 0.5px;
    color: white;
    border-color: white;
}

#bookingType {
    text-align: center;
}

#titleBar {
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: white;
    background-color: rgba(0, 0, 0,0.5);
}

#addEventSection {
    position: relative;
    grid-row: 2;
    text-align: center;
    align-content: center;
    justify-content: center;
    visibility: collapse;
}

#eventBrowserContainer {
    background-color: rgba(0, 0, 0, 0.2);
    align-self: center;
    width:99%;
}

#eventError {
    background-color: rgba(255, 255, 255, 0.1);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: white;
}

.FoodEvent {
    color: white;
    display:grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr 3fr 1fr; 
    grid-template-rows: 1fr 3fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . .";
}

.FoodEvent h2{
    text-shadow: 2px 2px black;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.3);
}

.FoodEvent .description {
    position: inherit;
    background-color: aliceblue;
    color:black;
    width: 400px;
    height: 204px;
    height: 200px;
    grid-column:2;
    grid-row: 2;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    justify-self: center;
}

.HistoryEvent {
    color: white;
    display:grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr 3fr 1fr; 
    grid-template-rows: 1fr 3fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . .";
}

.HistoryEvent h2{
    text-shadow: 2px 2px black;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.3);
}

.HistoryEvent .description {
    position: inherit;
    background-color: aliceblue;
    width: 400px;
    height: 204px;
    height: 200px;
    grid-column:2;
    grid-row: 2;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    justify-self: center;
}

.ArtEvent {
    color: white;
    display:grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr 3fr 1fr; 
    grid-template-rows: 1fr 3fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."
        ". . . ."
        ". . . .";
}

.ArtEvent h2{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    text-shadow: 2px 2px black;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.3);
}

.ArtEvent .description {
    position: inherit;
    background-color: aliceblue;
    width: 400px;
    height: 204px;
    height: 200px;
    grid-column:2;
    grid-row: 2;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    justify-self: center;
}

.Rating{
    position: relative;
    text-shadow: 2px 2px black;
    top: -50px;
    grid-row: 2;
    grid-column:1;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 70px;
    height: 55px;
    justify-self: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.3);
}
.Price {
    position: relative;
    text-shadow: 2px 2px black;
    top: 30px;
    grid-column:1;
    grid-row: 2;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 70px;
    height: 55px;
    justify-self: center;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.mainImage {
    grid-row: 2;
    grid-column: 3;
    background-color: aqua;
    width: 400px;
    height: 204px;
    justify-self: center;
}

.subImageSection {
    grid-row: 2;
    grid-column: 4;
    display:grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."
        ".";
}

.subImage {
    position: relative;
    background-color:red;
    width: 100px;
    height: 70px;
}

.subImage1{
    grid-row:1;
    grid-column: 1;
}

.subImage2 {
    grid-row:2;
    grid-column: 1;
}

.subImage3 {
    grid-row:3;
    grid-column: 1;
}

.bookingTime {
    grid-row:3;
    grid-column:2;
    margin-left:30px;
    margin-right:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chooseEvent {
    grid-row:3;
    grid-column:3;
    margin-left:30px;
    margin-right:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vl {
    position:relative;
    border-width: 2px;
    border-color: white;
    border-style:solid;
    grid-row:2;
    grid-column:2;
    width: 0.5px;
    float:right;
    left:100%;
}