body {
    background-color: darkgray;
    background-image: url("../Images/City_Background.jpeg");
    background-size: cover;
    align-content: center;
    display: grid;
    
}

@keyframes underlineNavAnimation {
    from {text-decoration-color: rgba(255, 255, 255, 0);}
    to {text-decoration-color: rgba(255, 255, 255, 1);}
}

nav {
    background-color: rgba(0, 0, 0,0.5);
    font-family: serif;
    border-radius: 5px;
}

.container{
    display:grid;
    align-content: center;
    justify-content: center;
    width: 83.5%;
    
    background-color: rgba(95, 92, 92, 0.75);
    padding: 40px;
    justify-self: center;
    border-radius: 5px;
}

.options {
    display: flex;
    padding: 20px;
}

.options #Art, #History, #Food{
    padding-left: 40px;
    padding-right: 40px;
    
}

.options img {
    box-shadow: 5px 5px 5px;
    border-radius: 3px;
}

#navigation{
    display:flex;
    font-family: sans-serif;
    color: white;
    align-content: center;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 5px;
    margin-right: 5%;
    margin-left: 5%;
}

#navigation h1 {
    padding-right: 15%;
    padding-left: 10%;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

#navigation a {
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration-line: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

#navigation a:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-line: underline;
    animation-name: underlineNavAnimation;
    animation-duration: 2000ms;
}

.Login {
    display: flex;
    align-items: center;
    justify-items: center;
}