body {
    background-color: darkgray;
    background-image: url("../Images/City_Background.jpeg");
    background-size: fill;
    align-content: center;
    display: grid;
    max-width: 90%;
    max-height: 90%;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 5fr 1fr; 
    grid-template-rows: 1fr 2fr 20fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". . ."; 
}

@keyframes underlineNavAnimation {
    from {text-decoration-color: rgba(255, 255, 255, 0);}
    to {text-decoration-color: rgba(255, 255, 255, 1);}
}

nav {
    background-color: rgba(0, 0, 0,0.5);
    font-family: serif;
    border-radius: 5px;
}

.container{
    grid-column: 2;
    grid-row: 3;
    display:grid;
    align-content: center;
    justify-content: center;
    width:90%;
    background-color: rgba(95, 92, 92, 0.75);
    justify-self: center;
    border-radius: 5px;
    
}

.options {
    display: flex;
    padding: 20px;
}

.options #Art, #History, #Food{
    padding-left: 40px;
    padding-right: 40px;
    
}

.options img {
    box-shadow: 5px 5px 5px 5px;
    border-radius: 3px;
}

#navigation{
    grid-column: 2;
    grid-row: 2;
    display:grid;
    font-family: sans-serif;
    color: white;
    align-self: center;
    align-content: center;
    justify-self: center;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 5px;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.5fr 3fr 1fr; 
    width:90%;
}

#navigation h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    padding-left:1%;
    grid-column: 2;
}

#linkContainer {
    grid-column: 3;
    align-content: center;
}

#navigation a {
    align-content: center;
    text-decoration-line: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    padding-left: 2%;
}

#navigation a:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-line: underline;
    animation-name: underlineNavAnimation;
    animation-duration: 2000ms;
}

.Login {
    display: flex;
    align-items: center;
    justify-items: center;
}

#image-scroller {
    border-color:black;
    border-style: solid;
    position: relative;
    overflow-x: clip;
    
}

#image-scroller .scroll-image{
    background-color: red; 
    width: 150px; 
    height: 100px;
    position: absolute;
}