body {
    background-color: darkgray;
    background-image: url("../Images/City_Background.jpeg");
    background-size: fill;
    align-content: center;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 5fr 1fr; 
    grid-template-rows: 1fr 0.5fr 10fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". . ."; 
}

@keyframes underlineNavAnimation {
    from {text-decoration-color: rgba(255, 255, 255, 0);}
    to {text-decoration-color: rgba(255, 255, 255, 1);}
}

@keyframes showOption {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav {
    background-color: rgba(0, 0, 0,0.5);
    font-family: serif;
    border-radius: 5px;
}



.container {
    
    display:grid;
    grid-column: 2;
    grid-row: 3;
    align-content: center;
    justify-content: center;
    justify-self: center;
    background-color: rgba(77, 75, 75, 0.466);
    border-radius: 5px;
    grid-template-columns: 1fr 5fr 1fr; 
    grid-template-rows: 1fr 2fr 2fr 1fr; 
    width:90%;
}

.options {
    position: relative;
    justify-self: center;
    grid-column: 2;
    grid-row: 3;
    display: flex;
    padding: 20px;
}

.options #Art, #History, #Food{
    padding-left: 40px;
    padding-right: 40px;
    opacity: 0;
}

.options img {
    box-shadow: 5px 5px 5px 5px;
    border-radius: 3px;
}

#Art.showOption {
    animation: showOption 5s ease-in forwards;
    animation-delay: 1s;
    
}

#History.showOption {
    animation: showOption 5s ease-in forwards;
    animation-delay: 3s;
}

#Food.showOption {
    animation: showOption 5s ease-in forwards;
    animation-delay: 5s;
}

#navigation{
    grid-column: 2;
    grid-row: 2;
    display:grid;
    font-family: sans-serif;
    color: white;
    align-self: center;
    align-content: center;
    justify-self: center;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 5px;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.5fr 3fr 1fr; 
    width:90%;
}

#navigation h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    padding-left:1%;
    grid-column: 2;
}

#linkContainer {
    grid-column: 3;
    align-content: center;
}

#navigation a {
    align-content: center;
    text-decoration-line: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-left: 2%;
}

#navigation a:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-line: underline;
    animation-name: underlineNavAnimation;
    animation-duration: 2000ms;
}

.Login {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    align-items: center;
    justify-items: center;
}

#image-scroller {
    grid-column: 2;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    border-color:black;
    border-style: solid;
    overflow-x: clip;
    position: relative;
}

#image-scroller .scroll-image{
    background-color: red; 
    width: 12.52%; 
    height: 150px;
    position: absolute;
}

.welcomeInfo {
    grid-column: 2;
    grid-row: 2;
    display:grid;
    color: white;
    font-family: sans-serif;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;
}


