body {
    font-family: sans-serif;
    background-color: darkgray;
    background-image: url("../Images/City_Background.jpeg");
    background-size: fill;
    align-content: center;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 5fr 1fr; 
    grid-template-rows: 1fr 4fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". . ."; 
}

@keyframes underlineNavAnimation {
    from {text-decoration-color: rgba(255, 255, 255, 0);}
    to {text-decoration-color: rgba(255, 255, 255, 1);}
}

nav {
    background-color: rgba(0, 0, 0,0.5);
    font-family: serif;
    border-radius: 5px;
}

.container {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    display:grid;
    grid-column: 2;
    grid-row: 2;
    align-content: center;
    justify-content: center;
    justify-self: center;
    background-color: rgba(77, 75, 75, 0.466);
    border-radius: 5px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 3fr 1fr; 
    width:90%;
}

#navigation{
    grid-column: 2;
    grid-row: 1;
    display:grid;
    font-family: sans-serif;
    color: white;
    align-self: center;
    align-content: center;
    justify-self: center;
    border-bottom-style: solid;
    border-bottom-color:black;
    border-bottom-width: 5px;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1.5fr 3fr 1fr; 
    width:90%;
}

#navigation h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    padding-left:1%;
    grid-column: 2;
}

#linkContainer {
    grid-column: 3;
    align-content: center;
}

#navigation a {
    align-content: center;
    text-decoration-line: none;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: large;
    padding-left: 2%;
}

#navigation a:hover {
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-line: underline;
    animation-name: underlineNavAnimation;
    animation-duration: 2000ms;
}

#login_Container {
    position: relative;
    
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border-color: black;
    border-style:solid;
    border-width:2px;
    display:grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 2fr 1fr 1fr 1fr 0.5fr 0.5fr; 
    gap: 0px 0px; 
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."; 
}
#login_Container h1 {
    border-radius: 5px;
   
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-width:2px;
    grid-column:2;
    grid-row:1;
    
}
form{
    grid-column: 2;
    grid-row: 2;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#userEmail_L {
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

#userEmail_L input{
    
    padding: 5px;
    border-radius: 5px;
}

#userPass_L{
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 3;
    padding-left: 10px;
    padding-right: 10px;
}

#userPass_L input{
    
    padding: 5px;
    border-radius: 5px;
}

#login_Container button {
    position: relative;
    align-self: center;
    justify-self: center;
}

#loginButton{
    grid-row: 4;
    grid-column: 2;
    width:50%;
    height:50%;
    cursor: grab;
}

#login_Container p{
    position:relative;
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-row: 5;
    grid-column: 2;
    height:fit-content;
    width:fit-content;
}

.signUpButton {
    width:fit-content;
    color:blue;
    text-decoration-line: underline;
    cursor: grab;
    height:75%;
    padding-bottom: 2%;
    background-color: transparent;
    border-style: none;
}

#signup_Container {
    position: relative;
    
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border-color: black;
    border-style:solid;
    border-width:2px;
    display:none;
    visibility: collapse;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: 2fr 1fr 1fr 1fr 0.5fr 0.5fr; 
    gap: 0px 0px; 
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."; 
}

#signup_Container h1 {
    border-radius: 5px;
   
    justify-self: center;
    align-self: center;
    padding: 10px;
    border-width:2px;
    grid-column:2;
    grid-row:1;
    
}
form{
    grid-column: 2;
    grid-row: 2;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#userEmail_S {
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
}

#userEmail_S input{
    
    padding: 5px;
    border-radius: 5px;
}

#userPass_S{
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 3;
    padding-left: 10px;
    padding-right: 10px;
}

#userPass_S input{
    
    padding: 5px;
    border-radius: 5px;
}

#signup_Container button {
    position: relative;
    align-self: center;
    justify-self: center;
}

#signupButton{
    grid-row: 4;
    grid-column: 2;
    width:50%;
    height:50%;
    cursor: grab;
}

#signup_Container p{
    position:relative;
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-row: 5;
    grid-column: 2;
    height:fit-content;
    width:fit-content;
}

.loginCButton {
    width:fit-content;
    color:blue;
    text-decoration-line: underline;
    cursor: grab;
    height:75%;
    padding-bottom: 2%;
    background-color: transparent;
    border-style: none;
}

#loginSuccess {
    visibility: collapse;
    position: relative;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-radius: 5px;
    border-color: grey;
    background-color: rgba(255, 255, 255, 0.3);
    height:50%;
    width:75%;
    border-style:solid;
    border-width:2px;
    grid-row: 2;
    grid-column: 2;
}
